</main>
<footer>
    <hr />
    CST 336 Internet Programming. 2025 &copy; Lao <br />
    <strong>Disclaimer:</strong> The information in this website is
    fictitious. <br />
    It is used for academic purposes only. <br />
    <img src="/img/csumb.png" alt="CSUMB Logo"/>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
</body>
</html>